<div class="container">
    <div class="d-flex mt-1">
        <div class="input-group input-group-sm">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="tytuł">
        </div>

        <select class="form-select form-select-sm">
            <option selected>Wybierz branzę</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="">
        <label class="form-check-label" for="flexCheckDefault">
            zaznacz wszystko?
        </label>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Data zakończenia</th>
                <th scope="col"></th>
                <th scope="col">Tytuł</th>
                <th scope="col">Cena</th>
                <th scope="col">Statystyki</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox" value="">
                </td>
                <td>
                    <div class="d-flex flex-column">
                        <span>od: <strong>10.08.2024r 12:34</strong></span>
                        <span>do: <strong>10.11.2024r 12:34</strong></span>
                    </div>
                </td>
                <td>
                    <img src="eDUwyYcn.jpg" class="img-thumbnail" width="200px" alt="...">
                </td>
                <td>Tworzenie stron internetowych
                    <ul class="tags">
                        <li><a href="#" class="tag">Przypięcie na górze strony</a></li>
                        <li><a href="#" class="tag">marketing FB</a></li>
                        <li><a href="#" class="tag">Podbij</a></li>
                        <li><a href="#" class="tag">Przedłużanie ogłoszenia</a></li>
                    </ul>
                </td>
                <td><strong>26 000</strong> PLN</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="bi bi-envelope me-1"></i>1</div>
                        <div><i class="bi bi-telephone me-1"></i>0</div>
                        <div><i class="bi bi-send me-1"></i>128</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column">
                        <button type="button" class="btn btn-sm btn-secondary mt-1">
                            <span class="d-inline-flex align-items-center">Edycja <i class="bi bi-pencil ms-1"></i></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary mt-1">
                            <span class="d-inline-flex align-items-center">Podgląd <i class="bi bi-eye ms-1"></i></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary mt-1">
                            <span class="d-inline-flex align-items-center">Zakończ <i class="bi bi-x-lg ms-1"></i></span>
                        </button>
                    </div>
                    
                </td>
            </tr>
        </tbody>
    </table>

</div>