<div class="d-flex">
    <app-home-branch-list></app-home-branch-list>
    <div class="p-5 border-start">
        <app-search></app-search>

        <div class="mt-3">
            <p><strong>Nowa strona, nowe rozwiązania uinikalne ogłoszenia</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro, non obcaecati cum odio aliquam
                quis dolores molestiae blanditiis earum harum quia fuga officiis dolorem repellat autem? Quisquam, id
                possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro, non obcaecati cum
                odio aliquam
                quis dolores molestiae blanditiis earum harum quia fuga officiis dolorem repellat autem? Quisquam, id
                possimus!</p>
        </div>

        <button type="button" class="btn btn-secondary text-black">
            <strong>Strona internetowa już od 399 zł</strong>
        </button>

    </div>
</div>